   <!-- game -->
    <section class="game">
       <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                     <h2 class="sectiontitle">신이 나를 만들 때</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src= "/assets/case3.jpg" align="center" id="centerimage">
            </div>
        </div>
    </div>
  </section>