<center><h1 class = "mainmain">신이 나를 만들때</h1>
<img class = "mainphoto" src = "/assets/game1.PNG"/></br></br>
 <!--<input type="email" class="form-control" id="inputEmail3" placeholder="이름을 입력해주세요">-->

<input class="form-control" placeholder="이름을 입력해주세요">
<a class="btn btn-default" href="result" role="button">결과보러가기</a>


</center>

<div class = "row">
    <div class = "col-md-3"></div>
    <div class = "col-md-6"></div>
    <div class = "col-md-3"></div>
</div>
</center>