<!--
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="">게임하기</a></li>

        <li role="presentation"><a href="#">결과보기</a></li>
    </ul>
-->
    <!-- main -->
    <div class="main">
        <div class="top">
            <!--<div class="container">-->
                <div class="jumbotron">
                    <div class="container">
                        <h1>신이 나를 만들 때</h1>
                        <p>신이 너를 어떻게 만들었을까??</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">게임하러가기!</a></p>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
    <!-- game -->
    <section class="game">
       <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                     <h2 class="sectiontitle">신이 나를 만들 때</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src= "/assets/case3.jpg" align="center" id="centerimage">
            </div>
        </div>
    </div>
    <div class="gamestart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                     <h2 class="sectiontitle">게임 결과</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="<%= image_url(@chooseimg) %>" alt="<%= image_url(@choose) %>">
            </div>
        </div>
    </div>

    </section>






