<div class="container-fluid" style="background-color:#F44336;color:#fff;height:200px;">
  <h1>만약 shin이 나를 만든다면...?</h1>
  <h3>shin은 과연 나에게 무엇을??</h3>
  <p><h3>두근두근</h3></p>
  
</div>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">다시만들기!</a></li> 
  </ul>
</nav>


<table>
	<td>
		<h2 class="text1"><%= @choose1 %>(을)를 한번 뱉고</h2>
	</td>
	<td>
		<h2 class="text2"><%= @choose2 %>(을)를 푼다음</h2>
	</td>
	<td>
		<h2 class="text3"><%= @choose3 %>(을)를쏟아내자!</h2>
	</td>
</table>	
	
<img class="image"src="/assets/sms.png">

