<body> 
 <div id= "your-test">
 	<h1> 당신은 이번 중간고사에 </h1>
 </div>
 <div class="content">
   <div class= "place" style= "border-radius: 15px; border: 3px groove; text-align: center; float: left; width: 25%; margin: 1px;">
      <h3> Case1 </h3>
   </div>
   <div class= "how" style= "border-radius: 15px; border: 3px groove; text-align: center; float: left; width: 25%; margin: 1px;">
      <h3> Case2 </h3>
   </div>
   <div class= "do" style= "border-radius: 15px; border: 3px groove; text-align: center; float: left; width: 25%; margin: 1px;">
      <h3> Result </h3>
   </div>
 </div>
 <div class="choose">
   <div class= "place-choose" style= "text-align: center; float: left; width: 25%; margin: 1px;">
        <h4> <%= @a %> </h4>
   </div>
   <div class= "how-choose" style= "text-align: center; float: left; width: 25%; margin: 1px;">
        <h4> <%= @b %></h4>
   </div>
   <div class= "do-choose" style= "text-align: center; float: left; width: 25%; margin: 1px;">
        <h4> <%= @c %> </h4>
   </div>
 </div>
</body>  
