<div class = "container">
  <center>
   <div class = "row"> <div class = "title">
   <span class="one">  신</span>이 <span class="one">나</span>를 만들때
   </span></div>
   <div class = "row">
       <div class = "col-md-4">
           <h1 class = "godtext"><span class = "instance1"><%="#{@first_god}"%></span>을</br>우선 조금 넣고..</h1></br></br>
           <img class = "god" src = "/assets/god1.png"/>
       </div>
       <div class = "col-md-4">
           <h1 class = "godtext"><span class = "instance2"><%="#{@second_god}"%></span>은</br>두스푼 넣고..</h1></br></br>
           <img class = "god" src = "/assets/god2.png"/>
       </div>
       <div class = "col-md-4">
           <h1 class = "godtext"><span class = "instance3"><%="#{@third_god}"%></span>도 조금</br>넣으어어어ㅓ</br>69통을 넣어버림ㅋ</h1>
           <img class = "god" src = "/assets/god3.png"/>
       </div>
   </div>
  </center>
</div>

