<div class="jumbotron">    
    <div class="container">
        <h1>JACKPOT CHECKER</h1>
        <p>일확천금의 기회 POWER BALL 당신의 행운을 확인하세요!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="result" role="button">결과 보러가기</a>
        </p>
    </div>
</div>