.title{
	text-align:center;
	font-size:100px;
	height:200px;
	background-color: rgb(0,0,0);
	color:rgb(255,224,43);
	padding-top: 30px;
}

.dice{
	font-size:50px;
	text-align:center;
	padding-top: 30px;
	background-color:rgb(255,224,43);
}

.result{
	height:100px;
	text-align:center;
	background-color:rgb(255,224,43);
}

.bottom{
	background-color:rgb(255,224,43);
	height:600px;
}

#face1,#face2{
	padding-left: 280px;
}
