<!DOCTYPE html>
<html>
  <head>
    <title>W3Homework</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
	<style type="text/css">
		h1{
	        font-weight: bold;
	        color: #eeeeee;
        }
        h3 {
	        font-size: 18pt;
	        font-weight: bold;
	        color: yellow;
	        font-style: sans-serif;
        }
        h4 {
	        font-size: 18pt;
	        font-weight: bold;
	        color: yellow;
	        font-style: sans-serif;
        }
		body {
			background-image: url('/assets/back wood.jpeg'); 
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
